<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Local"
            connectionString="Data Source=10.219.10.172;Initial Catalog=1119;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="Test"
            connectionString="Data Source=10.219.10.172;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>